#detail_character {
    /* background-color: rgba(1, 1, 1, 0.5); */
    /* background-color: tomato; */
    position: absolute;
    /* z-index: -5px; */
    width: 100%;
    height: 100%;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

/* 왼쪽 글부분 */
#left_detail {
    width: 400px;
    height: 800px;
    background-color: aqua;
    position: absolute;
    left: 30%;
    top: 13%;
    z-index: 1;
}
#span_actor {
    color: #ddd;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    /* background-color: tomato; */
}
#span_role {
    color: #ddd;
    font-size: 45px;
    text-align: center;
    /* background-color: tomato; */
    margin-top: 30px;
}
#div_description {
    color: #ddd;
    font-size: 20px;
    margin-top: 100px;
    /* background-color: tomato; */
}

/* 오른쪽 사진부분 */
#right_detail {
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top: 0;
    left: 0;
}
#detail_img {
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
}
#detail_img img {
    width: 100%;
    /* filter: blur(100%); */
}

/* 수정삭제버튼 */
