#detail_goods {
    /* background-color: tomato; */
    /* width: 100%;
    height: 100%;
    z-index: -10; */
    /* z-index: -1000; */
}
#bg {
    width: 1200px;
    height: 700px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background-color: tomato; */
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: -1000; */
}
#detail_goods #left_detail {
    /* opacity: 1; */
    /* background-color: aqua; */
    z-index: -1;
    width: 450px;
    height: 600px;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 27%;
}

#detail_goods #left_detail img {
    width: 100%;
    height: 100%;
    /* filter: brightness(70%); */
    /* z-index: -1000000000; */
    /* opacity: 0.2; */
    /* display: none; */
}

#detail_goods #right_detail {
    /* background-color: aqua; */
    width: 490px;
    height: 600px;
    position: absolute;
    top: 53%;
    transform: translateY(-50%);
    left: 50%;
    /* text-align: center; */
    color: #ddd;
   
}
#d_title1 {
    position: absolute;
    top: 0;
    left: 10%;
    font-size: 33px;
}
#d_title2 {
    position: absolute;
    top: 42%;
    left: 15%;
}
#d_title3 {
    position: absolute;
    top: 93%;
    left: 63%;
    font-size: 25px;
}
#gopurchace {
    /* background-color: aqua; */
    width: 300px;
    height: 45px;
    position: absolute;
    top: 78%;
    left: 25%;
    display: flex;
}
#purchace {
    width: 150px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    margin-left: 30px;
}

#detail_goods #btns {
    /* background-color: tomato; */
    width: 150px;
    position: absolute;
    left: -85%;
    top: -10%;
}
#detail_goods #btns button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    color: #eee;
    font-size: 13px;
    cursor: pointer;
    margin: 0 5px;
    width: 55px;
    height: 32px;
}
#detailgoods_img {
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
    animation: sha2 4s 0.3s forwards;
    opacity: 0;
}
@keyframes sha2 {
    100% {
        opacity: 1;
    }
}
#detailgoods_img img {
    width: 100%;
    height: 100%;
    /* filter: blur(100%); */
}

@media screen and (min-width: 320px) and (max-width:479px) {
    #bg {
        width: 100%;
        height: 600px;
        background-color: rgba(0, 0, 0, 0.5);
        /* background-color: tomato; */
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%,-50%);
        /* z-index: -1000; */
        z-index: -2;
    }
    #detail_goods #left_detail {
        /* background-color: aqua; */
        z-index: -1;
        width: 40%;
        /* width: 100%; */
        height: 300px;
        position: absolute;
        top: 47%;
        transform: translateY(-50%);
        left: 5%;
    }
    #detail_goods #left_detail img {
        width: 100%;
        height: 100%;
        /* filter: brightness(70%); */
        /* z-index: 1000; */
        /* opacity: 0.2; */
        /* display: none; */
    }
    #detail_goods #right_detail {
        /* display: none; */
        /* background-color: aqua; */
        width: 100%;
        height: 500px;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        left: 0%;
        right: 5%;
        /* text-align: center; */
        color: #ddd;
       
    }
    #d_title1 {
        position: absolute;
        top: 0;
        left: 15%;
        width: 100%;
        text-align: center;
        max-width: 250px;
        /* background-color: tomato; */
        font-size: 20px;
    }
    #d_title2 {
        /* background-color: tomato; */
        position: absolute;
        top: 42%;
        max-width: 140px;
        width: 100%;
        left: 50%;
    }
    #d_title3 {
        /* background-color: tomato; */
        position: absolute;
        max-width: 150px;
        width: 100%;
        top: 93%;
        left: 50%;
        font-size: 20px;
    }
    #gopurchace {
        /* background-color: aqua; */
        max-width: 300px;
        width: 100%;
        height: 45px;
        position: absolute;
        top: 78%;
        left: 10%;
        display: flex;
    }
    #purchace {
        width: 100px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
        color: #eee;
        font-size: 13px;
        cursor: pointer;
        margin-left: 30px;
    }
   
    #detail_goods #btns {
        /* background-color: tomato; */
        width: 110px;
        position: absolute;
        left: 60%;
        top: 8%;
        /* z-index: 2; */
    }
    #detail_goods #btns button {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 3px;
        color: #eee;
        font-size: 13px;
        cursor: pointer;
        margin: 0 5px;
        width: 45px;
        height: 30px;
    }
}