#header {
    background-color: black;
    color: #fff;
    padding: 20px 30px;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner h1 {
    margin-left: 25%;
    font-size: 40px;
}
#header #ham {
    width: 50px;
    height: 30px;
    transition: 0.5s;
}
#header #ham span {
    display: block;
    background-color: #fff;
    width: 40px;
    height: 3px;
    transition: 0.5s;
}
#header #ham span:not(:last-child) {
    margin-bottom: 15px;
}
#header #hambuger_menu {
    width: 50px;
    height: 30px;
    position: absolute;
    left: 450px;
    top: 20px;
}
#header #hambuger_menu span {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 3px;
    transition: 0.5s;
    position: absolute;
}
#header #hambuger_menu span:not(:last-child) {
    margin-bottom: 15px;
}
#header #hambuger_menu span:nth-child(1) {
    transform: rotate(140deg);
    top: 20px;
}
#header #hambuger_menu span:nth-child(2) {
    transform: rotate(-140deg);
    top: 20px;
}
/* #header #hambuger_menu:hover span:nth-child(1) {
    transform: rotate(360deg);
}
#header #hambuger_menu:hover span:nth-child(2) {
    transform: rotate(-360deg);
} */
#site_map {
    background-color: rgba(1, 1, 1, 0.5);
    width: 500px;
    height: 100vh;
    position: absolute;
    left: -500px;
    /* left: 0; */
    top: 0;
    transition: 0.5s;
    /* display: none; */
}
#sear_ico {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
#sear_ico img {
    width: 100%;
}
form {
    position: absolute;
    top: 100px;
    left: 70px;
    display: flex;
}
form input {
    color: #fff;
    font-size: 28px;
    width: 320px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #222;
    background-color: rgba(1, 1, 1, 0.5);
}

#header_ul {
    position: absolute;
    top: 200px;
    left: 50px;
    /* background-color: tomato; */
    width: 400px;
    height: 600px;
}
#header_ul h2 {
    font-weight: 700;
}
.li_flex {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    /* background: aqua; */
    overflow: hidden;
    transition: 0.5s;
}
#one.ontoggle {
    height: 400px;
}
#two.ontoggle {
    height: 400px;
}
#three.ontoggle {
    height: 400px;
}



#fff {
    display: flex;
}
#fff li {
    margin-left: 10px;
}



/* footer */
#header_footer {
    width: 500px;
    height: 200px;
    /* background: #333; */
    position: absolute;
    bottom: 0;
    padding: 20px;
}
#icon_flex {
    display: flex;
    align-items: center;
    height: 110px;
}
#icon_flex li {
    width: 60px;
    height: 50px;
    margin: 0 5px;
}
#header_footer img {
    width: 80%;
    background-color: rgba(1, 1, 1, 0.1);
    transition: 0.5s;
}
#header_footer a:hover img {
    transform: scale(1.2);
}