#header {
    /* font-family: 'BhuTuka Expanded One', cursive;  */
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #ddd;
    padding: 50px;
    z-index: 1;
}
.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inner h1 {
    /* font-family: 'Mouse Memoirs', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    margin-left: 40%;
    font-size: 20px;
    letter-spacing: 15px;
    width: 180px;
    position: absolute;
    left: 6%;
    top: 40%;
}
#header #ham {
    width: 30px;
    height: 20px;
    transition: 0.5s;
}
#header #ham span {
    display: block;
    background-color: #ddd;
    width: 25px;
    height: 1px;
    transition: 0.5s;
}
#header #ham span:not(:last-child) {
    margin-bottom: 10px;
}
#header #hambuger_menu {
    width: 30px;
    height: 30px;
    position: absolute;
    /* background-color: tomato; */
    left: 490px;
    top: 45px;
}
#header #hambuger_menu span {
    display: block;
    background-color: #ddd;
    width: 25px;
    height: 1px;
    transition: 0.5s;
    position: absolute;
}
#header #hambuger_menu span:not(:last-child) {
    margin-bottom: 15px;
}
#header #hambuger_menu span:nth-child(1) {
    transform: rotate(140deg);
    top: 13px;
}
#header #hambuger_menu span:nth-child(2) {
    transform: rotate(-140deg);
    top: 13px;
}
/* #header #hambuger_menu:hover span:nth-child(1) {
    transform: rotate(360deg);
}
#header #hambuger_menu:hover span:nth-child(2) {
    transform: rotate(-360deg);
} */
#site_map {
    background-color: rgba(1, 1, 1, 0.5);
    width: 550px;
    height: 100vh;
    position: absolute;
    left: -550px;
    /* left: 0; */
    top: 0;
    transition: 0.5s;
    z-index: 10;
    /* display: none; */
}
#sear_ico {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    /* background-color: tomato; */
}
#sear_ico img {
    width: 100%;
    filter: brightness(70%);
}
#sear_ico2 {
    display: block;
    width: 50px;
    height: 50px;
    /* margin-right: 15px; */
    transition: 0.5s;
    /* background-color: tomato; */
}
#sear_ico2 img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
}
#sear_ico2.do {
    transform: rotate(180deg);
}
#sear_ico2.do2 {
    transform: rotate(0deg);
}
form {
    position: absolute;
    top: 100px;
    left: 70px;
    display: flex;
}
form input {
    color: #ddd;
    font-size: 28px;
    width: 380px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);;
    background-color: rgba(1, 1, 1, 0.1);
}

#header_ul {
    position: absolute;
    top: 200px;
    left: 0;
    /* background-color: tomato; */
    width: 100%;
    height: 600px;
    /* padding: 20px; */
    transition: 0.5s;
}

#header_ul h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: 5px;
}
.li_flex {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    /* background: aqua; */
    overflow: hidden;
    transition: 0.5s;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.la_li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.li_flex > li {
    /* border-bottom: 1px solid #ddd; */
    padding: 35px 50px;
}
#fir_ul {
    /* background-color: tomato; */
}
#fir_ul li {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    /* background-color: tomato; */
    height: 30px;
    margin-bottom: 10px;
    font-size: 22px;
}
.fir_li {
    margin-top: 50px;
}
#one.ontoggle {
    height: 200px;
}
#two.ontoggle {
    height: 200px;
}
#three.ontoggle {
    height: 200px;
}



#fff {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}
#fff li {
    margin-left: 15px;
}



/* footer */
#header_footer {
    width: 550px;
    height: 170px;
    /* background: #333; */
    position: absolute;
    bottom: 8px;
    padding: 20px;
}
#icon_flex {
    display: flex;
    align-items: center;
    height: 110px;
    padding: 15px;
}
#icon_flex li {
    width: 35px;
    height: 50px;
    margin: 0 10px;
}
#header_footer img {
    width: 100%;
    background-color: rgba(1, 1, 1, 0.1);
    transition: 0.5s;
    filter: brightness(70%);
}
#header_footer a:hover img {
    transform: scale(1.2);
    filter: brightness(100%);
}
#header_footer p {
    font-size: 13px;
}
#iii {
    text-align: right;
}

.down {
    /* background-color: tomato; */
    width: 50px;
    height: 50px;
    position: absolute;
    right: 30px;
    top: 25px;
    transition: 0.5s;
}
.down img {
    width: 100%;
    height: 100%;
    /* background-color: #fff; */
}
#d1.go {
    transform: rotate(180deg);
}
#d2.go {
    transform: rotate(180deg);
}
#d3.go {
    transform: rotate(180deg);
}
.dp {
    position: relative;
}
#pointer {
    cursor: pointer;
}
#delBtn button {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}
#sear_form {
    position: absolute;
    left: 50px;
    /* background-color: tomato; */
    width: 450px;
    height: 600px;
}
#sear_form input {
    z-index: 10;
}

#img_flex {
    width: 500px;
    height: 100%;
    position: absolute;
    top: 60px;
    left: -10px;
    display: flex;
    flex-wrap: wrap;
    transition: 0.5s;
    overflow: hidden;
    /* background-color: aqua; */
}
#img_flex a {
    width: 22%;
    height: 120px;
    margin: 4%;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* background-color: aliceblue; */
}
#img_flex li {
    /* background-color: aqua; */
    width: 100%;
    height: 100%;
}
#img_flex li div {
    width: 100%;
    height: 100%;
}
#img_flex li div img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    transition: 0.5s;
}
#img_flex li:hover img {
    filter: grayscale(20%);
}
#img_flex li #li_p {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
}
#img_flex li #li_p2 {
    font-size: 12px;
    text-align: center;
}