#joinform {
    background-color: rgba(1, 1, 1, 0.5);
    width: 800px;
    height: 750px;
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%,-50%);
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
th {
    padding-bottom: 25px;
    font-size: 20px;
}
.join_left {
    text-align: right;
    width: 25%
}
.join_right {
    width: 75%;
}
.margin {
    margin-right: 12%;
}
.margin_n {
    margin-left: 5%;
    margin-top: 10px;
}
.btn {
    border: none;
    background: none;
    color: #ddd;
    font-size: 18px;
    margin: 0 20px;
    margin-bottom: 10px;
}
#add_btn {
    background-color: rgba(255, 255, 255, 0.8);
    color: #111;
    margin-left: 5px;
}
#duCk {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    padding: 3px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}
#add_btn {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    padding: 3px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}
#btns button {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    padding: 5px 15px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}
#joinform input {
    font-size: 18px;
}
#email {
    margin-right: 0;
}
#emailck {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
    padding: 3px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}
#email::placeholder {
    font-size: 15px;
    border: none;
    color: #bbb;
}