#loginform {
    background-color: rgba(1, 1, 1, 0.5);
    width: 700px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}
table {
    color: #ddd;
    text-align: center;
    width: 100%;
}
.login_left {
    text-align: right;
    width: 25%
}
.login_right {
    width: 75%;
}
#loginth {
    padding: 0;
}
#loginform tr {
    height: 100px;
}
#memberLogin input {
    font-size: 18px;
}
#memberLogin #btns button {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 12px;
    padding: 5px 15px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}