@import url('https://fonts.googleapis.com/css2?family=Benne&family=BhuTuka+Expanded+One&family=Cinzel:wght@800&family=Montserrat+Alternates:ital,wght@1,700&family=Montserrat:wght@300&family=Mouse+Memoirs&family=Noto+Sans+KR&display=swap');
* { padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth;}
li { list-style: none; }
a { text-decoration: none; color: inherit;}
html, body {
    /* height: 100vh; */
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
#root {
    /* height: 100vh; */
    /* overflow-y: hidden; */
}
.App {
    /* width: 100%;
    max-width: 1600px;
    margin: 0 auto; */
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* top: 50%; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    /* background-color: tomato; */
}
.titlelogo {
    position: absolute;
    top: 8%;
    width: 100%;
    height: 140px;
    text-align: center;
    /* position: relative; */
    color: #ddd;
    /* background-color: aqua; */
}
.titlelogo h1 {
    /* font-size: 60px;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 10px;
    font-weight: lighter; */
    /* font-family: 'Cinzel', serif; */
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 160px;
    font-style: italic;
    opacity: 0.2;
    width: 100%;
    text-align: center;
    /* background-color: tomato; */
}

/* font-family: 'BhuTuka Expanded One', cursive; 영어
font-family: 'Mouse Memoirs', sans-serif; 영어
font-family: 'Noto Sans KR', sans-serif;  한글 */

#whole {
    /* background-color: tomato; */
    width: 100%;
    height: 100vh;
    /* background-color: tomato; */
    position: relative;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    /* background-color: aqua; */
    position: relative;
}
#whole ul {
    transition: 0.5s;
    position: absolute;
    left: 53%;
    transform: translateX(-50%);
    top: 28%;
    width: 60%;
    height: 650px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aqua; */
}
#whole ul li {
    width: 10%;
    height: 180px;
    margin: 0 10%;
    /* background-color: aliceblue; */
    text-align: center;
    position: relative;
}
#imgimg {
    /* background-color: tomato; */
    width: 70px;
    height: 80px;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#whole ul li img {
    width: 100%;
    /* filter: brightness(60%); */
    filter: grayscale(100%);
    transition: 0.5s;
}
#whole ul li:hover img {
    /* filter: brightness(80%); */
    filter: grayscale(20%);
}
.AllContent {
    /* display: flex; */
}
#li_right {
    margin-left: 15px;
}
.tt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#p_title1 {
    font-size: 12px;
    width: 150px;
    top: 50%;
}
#p_title2 {
    font-size: 16px;
    width: 150px;
    top: 60%;
}
/* #p_title3 {
    font-size: 15px;
    top: 65%;
    transition: 0.5s;
    cursor: pointer;
}
#p_title3:hover {
    font-size: 17px;
} */

/* 굿즈 */
#whole2 {
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    position: relative;
}
#whole2 ul {
    position: absolute;
    left: 55.5%;
    transform: translateX(-50%);
    top: 27%;
    width: 80%;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
}
#whole2 ul li {
    width: 20%;
    margin: 0 0.8%;
    text-align: center;
    position: relative;
}

.GContent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 300px;
    padding: 15px;
    border-radius: 20px;
}
#gimg {
    width: 150px;
    height: 200px;
    position: absolute;
    top: 60px;
    left: 3%;
}
#li_right {
    position: absolute;
    width: 300px;
    height: 250px;
    right: 0;
}
#gimg img {
    width: 100%;
    height: 100%;
    /* filter: brightness(50%); */
}

#g_title1 {
    position: absolute;
    right: 20%;
    top: 2%;
    width: 90%;
    font-size: 18px;
}
#g_title2 {
    position: absolute;
    top: 50%;
    left: 75%;
    width: 100%;
    font-size: 13px;
}
#g_title3 {
    position: absolute;
    top: 85%;
    left: 75%;
    width: 100%;
}
#g_title4 {
    position: absolute;
    top: 102%;
    width: 100%;
    transition: 0.5s;
}
#g_title4:hover {
    font-size: 18px;
}
.postCode_btn {
    position: absolute;
    top: 12%;
    left: 25%;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
}

/* 카운터 */
#counter {
    display: flex;
}
#counter h2 {
    margin: 0 15px;
    font-size: 25px;
}
#counter button {
    width: 40px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    color: #eee;
    font-size: 25px;
    line-height: 12px;
    cursor: pointer;
    margin-top: 2px;
}
.titlelogo span {
    opacity: 0;
}
@keyframes fade {
    to {
        opacity: 1;
    }
}

/* 로딩화면 */
.spinner_bg {
    height: 100vh;
    background-color: black;
}
.spinner {
    margin: 200px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

/* .cube1, .cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
    50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
    75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
    100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
} */

.sk-folding-cube {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #333; */
    background-color: white;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

@media screen and (min-width: 320px) and (max-width:479px) {
    .titlelogo h1 {
        font-size: 60px;
    }
    #whole ul {
        width: 100%;
        left: 55%;
        max-width: 450px;
        max-height: 550px;
        height: 100%;
        top: 15%;
    }
    #whole ul li {
        width: 25%;
        margin: 2%;
    }
    #imgimg {
        width: 80%;
    } 
    #p_title1 {
        width: 100%;
    }
    #p_title2 {
        font-size: 12px;
        width: 100%;
    }
}