@import url('https://fonts.googleapis.com/css2?family=Benne&family=BhuTuka+Expanded+One&family=Montserrat:wght@300&family=Mouse+Memoirs&family=Noto+Sans+KR&display=swap');
* { padding: 0; margin: 0; box-sizing: border-box; scroll-behavior: smooth;}
li { list-style: none; }
a { text-decoration: none; color: inherit;}
html, body {
    height: 100vh;
    overflow-y: hidden;
}
#root {
    height: 100vh;
    overflow-y: hidden;
}
.App {
    /* width: 100%;
    max-width: 1600px;
    margin: 0 auto; */
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.titlelogo {
    width: 600px;
    height: 140px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    color: #ddd;
    /* background-color: tomato; */
}
.titlelogo h1 {
    font-size: 60px;
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 10px;
    font-weight: lighter;
}

/* font-family: 'BhuTuka Expanded One', cursive; 영어
font-family: 'Mouse Memoirs', sans-serif; 영어
font-family: 'Noto Sans KR', sans-serif;  한글 */

#whole {
    /* background-color: tomato; */
    width: 100%;
    height: 100vh;
    position: relative;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    color: #ddd;
    /* background-color: aqua; */
    position: relative;
}
#whole ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25%;
    width: 70%;
    height: 750px;
    /* background-color: tomato; */
    display: flex;
    flex-wrap: wrap;
}
#whole ul li {
    width: 30%;
    margin: 0 1.5%;
    /* background-color: aliceblue; */
    text-align: center;
    position: relative;
}
#imgimg {
    /* background-color: tomato; */
    width: 110px;
    height: 120px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#whole ul li img {
    width: 100%;
    filter: brightness(60%);
}
.AllContent {
    /* display: flex; */
}
#li_right {
    margin-left: 15px;
}
.tt {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#p_title1 {
    font-size: 12px;
    top: 50%;
}
#p_title2 {
    font-size: 16px;
    top: 56%;
}
#p_title3 {
    font-size: 15px;
    top: 65%;
    transition: 0.5s;
    cursor: pointer;
}
#p_title3:hover {
    font-size: 17px;
}

.GContent {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    height: 310px;
    padding: 15px;
    border-radius: 20px;
}
#gimg {
    width: 200px;
    height: 280px;
    position: absolute;
    left: 3%;
}
#li_right {
    position: absolute;
    width: 200px;
    height: 250px;
    right: 0;
}
#gimg img {
    width: 100%;
    height: 100%;
}

#g_title1 {
    position: absolute;
    right: 10%;
    top: 5%;
    width: 90%;
    font-size: 18px;
}
#g_title2 {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 13px;
}
#g_title3 {
    position: absolute;
    top: 85%;
    width: 100%;
}
#g_title4 {
    position: absolute;
    top: 100%;
    width: 100%;
    transition: 0.5s;
}
#g_title4:hover {
    font-size: 18px;
}
.postCode_btn {
    position: absolute;
    top: 15px;
    left: 150px;
    width: 55px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px;
    color: #3d3d3d;
    font-size: 15px;
    cursor: pointer;
}